body {
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #999 100%);
}

nav {
    height: 76px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9E9E9E;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 1000;
}

.converter-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 24px;
    background: #9E9E9E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
label {
    font-size: 12px;      
    font-weight: 700;
} 

#from-amount {
    display: flex;
    padding: 12px 216px 13px 20px;
    margin-right: 25px;
    align-items: center;
    border-radius: 24px;
    background: #EEEAF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#from-token {
    display: inline-flex;
    padding: 12px 25px 13px 25px;
    align-items: center; 
    border-radius: 24px;
    border: none;
    background: #EEEAF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#to-amount {
    display: flex;
    padding: 12px 216px 13px 20px;
    margin-right: 25px;
    align-items: center;
    border-radius: 24px;
    background: #EEEAF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}


#to-token {
    display: inline-flex;
    padding: 12px 25px 13px 25px;
    align-items: center; 
    border-radius: 24px;
    border: none;
    background: #EEEAF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    /* Add custom dropdown arrow 
    appearance: none;
    -webkit-appearance: none; /* Safari/Chrome compatibility */
    -moz-appearance: none; /* Firefox compatibility */
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5H7z" fill="%23333"/%3E%3C/svg%3E'); /* Custom arrow SVG */
    background-repeat: no-repeat; /* Prevent arrow from repeating */
    background-position: right 15px center; /* Position the arrow with margin */
    background-size: 12px 12px; /* Adjust size of the arrow */
    */
}


.converter-group {
    display: flex;
}
footer{
    bottom: 0;
    left: 0;
    height: 194px;
    width: 100%;
    background-color: black;
    display: flex;

}