body {
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #999 100%);
}
nav{
    height: 76px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9E9E9E;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 1000;
}

div{
    flex:1;
    display: flex;
    width: 479px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 24px;
    margin: 191px; 339px, 335px, 339px;
    background: #9E9E9E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



}

footer{
    bottom: 0;
    left: 0;
    height: 194px;
    width: 100%;
    background-color: black;
    display: flex;

}